.signIn { 
  margin-top:190px;
  margin-left:auto;
  margin-right:auto;
  height:375px;
	 
}
.textcenter {
	 margin-left:auto;
	 margin-right:auto;
	}
.btn-block {
	font-weight:bolder !important;
	}
.signIn-panel {
  background-color: white !important;
}

